* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  .clearfix:after { content:''; clear:both; display:block;}
  .animation{
    margin-top: 2124px;
    margin-right: 712px
  }
  .progress-bar {
      position: relative;
      width: 480px;
      height: 6px;
      margin:3em auto;
      border:1px solid #A4CACA
  }
  .progress-bar:nth-child(2){
margin-top: 57px;
  }
  .progress-bar:nth-child(3){
margin-top: 60px;
  }
  .progress-bar:nth-child(4){
margin-top: 56px;
  }
  .progress-bar .bar{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      background: #A4CACA
     
  }
  
  .progress-bar .rate{
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      line-height: 10px;
      font-size: 1em;
      color:#4b6868
  }
  .content {
      height: 800px;
      font-size: 3em;
  }